*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app{
  position: relative;
}
#no-mobile{
  height: 100vh;
  width: 100vh;
  z-index: 20;
  background-color: aquamarine;
  display: none;
}
#no-mobile::after{
  content: 'Not supported on Mobile..open on desktop';
  color: black;
  font-size: 3rem;
}
@media (max-width: 500px){
  #root {
    display: none;
  }

  #no-mobile {
    display: block;
  }
}